In [1]:
import pandas as pd
import numpy as np
import gc
import time
%matplotlib inline

In [3]:
print('begin:',time.strftime("%H:%M:%S",time.localtime()))

begin: 16:29:44

In [3]:
df.head()

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...
3,118745,u_30098996,m_4515,2017-09-03 12:10,120.612201,34.055249,b_33412374|-77|false;b_22084893|-86|false;b_52...
4,118746,u_30099170,m_7168,2017-09-02 20:40,116.861989,40.326858,b_19882704|-77|false;b_2241462|-49|false;b_585...

In [2]:
df=pd.read_csv("../test.csv")

In [3]:
wifiDict={
    "mall_id":[],
    'bssid':[],
    'strength':[]
}

In [4]:
for index,row in df.iterrows():
    for wifi in row.wifi_infos.split(';'):
        info=wifi.split('|')
        wifiDict['mall_id'].append(row.mall_id)
        wifiDict['bssid'].append(info[0])
        wifiDict['strength'].append(info[1])
print('done')
del df
gc.collect()

done

41

In [5]:
df=pd.DataFrame(wifiDict)
df.to_csv("../data/test_wifi.csv")
print('end:',time.strftime("%H:%M:%S",time.localtime()))

end: 18:08:35

In [10]:
df.head()

        bssid  mall_id strength
0  b_34366982   118742      -82
1  b_37756289   118742      -53
2   b_4162269   118742      -84
3  b_34366190   118742      -84
4  b_32418144   118742      -55